In [3]:
import pandas as pd
import numpy as np
import flask
import json as js
import pyproj as pp
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite:///Hurricane.sqlite', echo=True)
con = engine.connect()

2019-03-19 19:57:14,315 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-19 19:57:14,317 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 19:57:14,318 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-19 19:57:14,320 INFO sqlalchemy.engine.base.Engine ()

In [10]:
con.execute('''CREATE TABLE Hurricanes(
                ID integer not null primary key, 
                Name Varchar (100),
                Time integer not null,
                Event Varchar (100),
                Status Varchar (100),
                Latitude integer not null,
                Longitude integer not null,
                Wind integer not null,
                Pressure integer not null,
                ISODate Varchar (100),
                Location Varchar (100)
                )''')

2019-03-19 20:32:05,719 INFO sqlalchemy.engine.base.Engine CREATE TABLE Hurricanes(
                ID integer not null primary key,
                Name Varchar (100),
                Time integer not null,
                Event Varchar (100),
                Status Varchar (100),
                Latitude integer not null,
                Longitude integer not null,
                Wind integer not null,
                Pressure integer not null,
                ISODate Varchar (100),
                Location Varchar (100)
                )
2019-03-19 20:32:05,721 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:32:05,780 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
df = pd.read_csv('hurdat.csv', index_col=0)
df.to_sql('Hurricanes', engine, if_exists='replace', index=True, index_label="id")

2019-03-19 20:38:44,708 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Hurricanes")
2019-03-19 20:38:44,709 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,712 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Hurricanes")
2019-03-19 20:38:44,713 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,717 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-19 20:38:44,718 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,721 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Hurricanes")
2019-03-19 20:38:44,721 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,726 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Hurricanes' AND type = 'table'
2019-03-19 20:38:44,727 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,729 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Hurricanes")
2019-03-19 20:38:44,731 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,733 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Hurricanes' AND type = 'table'
2019-03-19 20:38:44,734 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,737 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Hurricanes")
2019-03-19 20:38:44,739 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,740 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Hurricanes")
2019-03-19 20:38:44,741 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,743 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Hurricanes' AND type = 'table'
2019-03-19 20:38:44,744 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,752 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Hurricanes"
2019-03-19 20:38:44,753 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,814 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-19 20:38:44,826 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Hurricanes" (
	id TEXT,
	"Name" TEXT,
	"Date" BIGINT,
	"Time" BIGINT,
	"Event" TEXT,
	"Status" TEXT,
	"Latitude" FLOAT,
	"Longitude" FLOAT,
	"Wind" BIGINT,
	"Pressure" BIGINT,
	"ISODate" TEXT,
	"Location" TEXT
)


2019-03-19 20:38:44,827 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,841 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-19 20:38:44,842 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Hurricanes_id" ON "Hurricanes" (id)
2019-03-19 20:38:44,843 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:44,856 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-19 20:38:44,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-03-19 20:38:46,289 INFO sqlalchemy.engine.base.Engine INSERT INTO "Hurricanes" (id, "Name", "Date", "Time", "Event", "Status", "Latitude", "Longitude", "Wind", "Pressure", "ISODate", "Location") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-03-19 20:38:46,290 INFO sqlalchemy.engine.base.Engine (('EP011949', '            UNNAMED', 19490611, 0, '  ', ' TS', 20.2, -106.3, 45, -999, '1949-06-11T00:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490611, 600, '  ', ' TS', 20.2, -106.4, 45, -999, '1949-06-11T06:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490611, 1200, '  ', ' TS', 20.2, -106.7, 45, -999, '1949-06-11T12:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490611, 1800, '  ', ' TS', 20.3, -107.7, 45, -999, '1949-06-11T18:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490612, 0, '  ', ' TS', 20.4, -108.6, 45, -999, '1949-06-12T00:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490612, 600, '  ', ' TS', 20.5, -109.4, 45, -999, '1949-06-12T06:00:00', 'East Pacific'), ('EP011949', '            UNNAMED', 19490612, 1200, '  ', ' TS', 20.6, -110.2, 45, -999, '1949-06-12T12:00:00', 'East Pacific'), ('EP021949', '            UNNAMED', 19490617, 1200, '  ', ' TS', 14.1, -107.0, 45, -999, '1949-06-17T12:00:00', 'East Pacific')  ... displaying 10 of 75242 total bound parameter sets ...  ('AL122015', '               KATE', 20151113, 600, '  ', ' EX', 40.8, -47.5, 45, 985, '2015-11-13T06:00:00', 'Atlantic'), ('AL122015', '               KATE', 20151113, 1200, '  ', ' EX', 40.7, -45.4, 45, 987, '2015-11-13T12:00:00', 'Atlantic'))
2019-03-19 20:38:46,928 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-19 20:38:47,018 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-19 20:38:47,019 INFO sqlalchemy.engine.base.Engine ()

Empty DataFrame
Columns: [ID]
Index: []

In [21]:
data = pd.read_sql('Select * from Hurricanes',engine)

2019-03-19 20:38:50,469 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Select * from Hurricanes")
2019-03-19 20:38:50,470 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 20:38:50,474 INFO sqlalchemy.engine.base.Engine Select * from Hurricanes
2019-03-19 20:38:50,474 INFO sqlalchemy.engine.base.Engine ()

In [22]:
data

,id,Name,Date,Time,Event,Status,Latitude,Longitude,Wind,Pressure,ISODate,Location
0,EP011949,UNNAMED,19490611,0,,TS,20.2,-106.3,45,-999,1949-06-11T00:00:00,East Pacific
1,EP011949,UNNAMED,19490611,600,,TS,20.2,-106.4,45,-999,1949-06-11T06:00:00,East Pacific
2,EP011949,UNNAMED,19490611,1200,,TS,20.2,-106.7,45,-999,1949-06-11T12:00:00,East Pacific
3,EP011949,UNNAMED,19490611,1800,,TS,20.3,-107.7,45,-999,1949-06-11T18:00:00,East Pacific
4,EP011949,UNNAMED,19490612,0,,TS,20.4,-108.6,45,-999,1949-06-12T00:00:00,East Pacific
5,EP011949,UNNAMED,19490612,600,,TS,20.5,-109.4,45,-999,1949-06-12T06:00:00,East Pacific
6,EP011949,UNNAMED,19490612,1200,,TS,20.6,-110.2,45,-999,1949-06-12T12:00:00,East Pacific
7,EP021949,UNNAMED,19490617,1200,,TS,14.1,-107.0,45,-999,1949-06-17T12:00:00,East Pacific
8,EP021949,UNNAMED,19490617,1800,,TS,14.6,-107.7,45,-999,1949-06-17T18:00:00,East Pacific
9,EP021949,UNNAMED,19490618,0,,TS,15.0,-108.4,45,-999,1949-06-18T00:00:00,East Pacific
10,EP021949,UNNAMED,19490618,600,,TS,15.4,-109.2,45,-999,1949-06-18T06:00:00,East Pacific
11,EP021949,UNNAMED,19490618,1200,,TS,15.7,-110.0,45,-999,1949-06-18T12:00:00,East Pacific
12,EP021949,UNNAMED,19490618,1800,,TS,16.0,-110.8,45,-999,1949-06-18T18:00:00,East Pacific
13,EP021949,UNNAMED,19490619,0,,TS,16.3,-111.6,45,-999,1949-06-19T00:00:00,East Pacific
14,EP021949,UNNAMED,19490619,600,,TS,16.7,-112.3,45,-999,1949-06-19T06:00:00,East Pacific
15,EP021949,UNNAMED,19490619,1200,,TS,17.1,-112.9,45,-999,1949-06-19T12:00:00,East Pacific
16,EP021949,UNNAMED,19490619,1800,,TS,17.5,-113.5,45,-999,1949-06-19T18:00:00,East Pacific
17,EP021949,UNNAMED,19490620,0,,TS,18.0,-114.1,45,-999,1949-06-20T00:00:00,East Pacific
18,EP021949,UNNAMED,19490620,600,,TS,18.4,-114.6,45,-999,1949-06-20T06:00:00,East Pacific
19,EP021949,UNNAMED,19490620,1200,,TS,18.9,-115.1,45,-999,1949-06-20T12:00:00,East Pacific
20,EP021949,UNNAMED,19490620,1800,,TS,19.4,-115.6,45,-999,1949-06-20T18:00:00,East Pacific
21,EP021949,UNNAMED,19490621,0,,TS,19.9,-116.0,45,-999,1949-06-21T00:00:00,East Pacific
22,EP021949,UNNAMED,19490621,600,,TS,20.4,-116.4,45,-999,1949-06-21T06:00:00,East Pacific
23,EP021949,UNNAMED,19490621,1200,,TS,21.0,-116.7,45,-999,1949-06-21T12:00:00,East Pacific
24,EP021949,UNNAMED,19490621,1800,,TS,21.5,-117.1,45,-999,1949-06-21T18:00:00,East Pacific
25,EP021949,UNNAMED,19490622,0,,TS,22.0,-117.5,45,-999,1949-06-22T00:00:00,East Pacific
26,EP021949,UNNAMED,19490622,600,,TS,22.5,-117.8,45,-999,1949-06-22T06:00:00,East Pacific
27,EP021949,UNNAMED,19490622,1200,,TS,23.1,-118.0,45,-999,1949-06-22T12:00:00,East Pacific
28,EP021949,UNNAMED,19490622,1800,,TS,23.9,-118.0,45,-999,1949-06-22T18:00:00,East Pacific
29,EP021949,UNNAMED,19490623,0,,TS,24.7,-117.7,45,-999,1949-06-23T00:00:00,East Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...
75212,AL112015,JOAQUIN,20151012,1800,,EX,39.1,-8.8,30,1005,2015-10-12T18:00:00,Atlantic
75213,AL112015,JOAQUIN,20151013,0,,EX,38.6,-8.9,25,1007,2015-10-13T00:00:00,Atlantic
75214,AL112015,JOAQUIN,20151013,600,,EX,38.0,-9.1,20,1009,2015-10-13T06:00:00,Atlantic
75215,AL112015,JOAQUIN,20151013,1200,,EX,37.3,-9.2,20,1010,2015-10-13T12:00:00,Atlantic
75216,AL112015,JOAQUIN,20151013,1800,,EX,36.6,-9.1,20,1010,2015-10-13T18:00:00,Atlantic
75217,AL112015,JOAQUIN,20151014,0,,EX,36.0,-9.0,20,1011,2015-10-14T00:00:00,Atlantic
75218,AL112015,JOAQUIN,20151014,600,,EX,35.5,-8.7,20,1011,2015-10-14T06:00:00,Atlantic
75219,AL112015,JOAQUIN,20151014,1200,,EX,35.1,-8.4,20,1011,2015-10-14T12:00:00,Atlantic
75220,AL112015,JOAQUIN,20151014,1800,,EX,35.0,-8.0,15,1012,2015-10-14T18:00:00,Atlantic
75221,AL112015,JOAQUIN,20151015,0,,EX,35.2,-7.7,15,1012,2015-10-15T00:00:00,Atlantic
75222,AL122015,KATE,20151108,1800,,TD,22.2,-71.5,30,1010,2015-11-08T18:00:00,Atlantic
75223,AL122015,KATE,20151109,0,,TD,22.8,-72.6,30,1010,2015-11-09T00:00:00,Atlantic
75224,AL122015,KATE,20151109,600,,TS,23.4,-73.7,35,1010,2015-11-09T06:00:00,Atlantic
75225,AL122015,KATE,20151109,1200,,TS,24.1,-74.8,40,1008,2015-11-09T12:00:00,Atlantic
75226,AL122015,KATE,20151109,1800,,TS,25.0,-75.7,45,1008,2015-11-09T18:00:00,Atlantic
75227,AL122015,KATE,20151110,0,,TS,26.4,-76.2,50,1006,2015-11-10T00:00:00,Atlantic
75228,AL122015,KATE,20151110,600,,TS,28.0,-76.2,55,1003,2015-11-10T06:00:00,Atlantic
75229,AL122015,KATE,20151110,1200,,TS,29.5,-75.4,60,998,2015-11-10T12:00:00,Atlantic
75230,AL122015,KATE,20151110,1800,,TS,31.2,-74.0,60,993,2015-11-10T18:00:00,Atlantic
75231,AL122015,KATE,20151111,0,,HU,33.1,-71.3,65,990,2015-11-11T00:00:00,Atlantic
75232,AL122015,KATE,20151111,600,,HU,35.2,-67.6,70,985,2015-11-11T06:00:00,Atlantic
75233,AL122015,KATE,20151111,1200,,HU,36.2,-62.5,75,980,2015-11-11T12:00:00,Atlantic
75234,AL122015,KATE,20151111,1800,,HU,37.6,-58.2,65,980,2015-11-11T18:00:00,Atlantic
75235,AL122015,KATE,20151112,0,,EX,38.9,-55.0,65,980,2015-11-12T00:00:00,Atlantic
75236,AL122015,KATE,20151112,600,,EX,40.0,-52.0,65,980,2015-11-12T06:00:00,Atlantic
75237,AL122015,KATE,20151112,1200,,EX,41.3,-50.4,55,981,2015-11-12T12:00:00,Atlantic
75238,AL122015,KATE,20151112,1800,,EX,41.9,-49.9,55,983,2015-11-12T18:00:00,Atlantic
75239,AL122015,KATE,20151113,0,,EX,41.5,-49.2,50,985,2015-11-13T00:00:00,Atlantic
75240,AL122015,KATE,20151113,600,,EX,40.8,-47.5,45,985,2015-11-13T06:00:00,Atlantic
75241,AL122015,KATE,20151113,1200,,EX,40.7,-45.4,45,987,2015-11-13T12:00:00,Atlantic